.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
inst/doc
/doc/
/Meta/
report/_book/**
report/_bookdown_files/**

vignettes/trans_scenario_shiny_cache/


report/_main.Rmd

report/spreadsheet/

~$Minneapolis.xlsx

buildings.xlsx

Minneapolis.xlsx
data-raw/meta/urbansim/datadictionary.xlsx
data-raw/meta/urbansim/2050/results_metcouncil_run_212_inflationPostProcess_COCTU_2050.csv
data-raw/meta/urbansim/2040/results_metcouncil_run_212_inflationPostProcess_COCTU_2040.csv
data-raw/meta/urbansim/2030/results_metcouncil_run_212_inflationPostProcess_COCTU_2030.csv
data-raw/meta/urbansim/2020/results_metcouncil_run_212_inflationPostProcess_COCTU_2020.csv
data-raw/meta/urbansim/2010/results_metcouncil_run_212_inflationPostProcess_COCTU_2010.csv
data-raw/climate/MnClimat.csv
data-raw/building_energy_data_processing/grid/generated_emissions_MISO_LRZ_1_2023_2043_co2_for_electricity_1y.csv

data-raw/transportation_data_processing/table_04_23_042425.xlsx
/data-raw/building_energy_data_processing/resstock data
